.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #06416a;

  h2 {
    width: 100%;
    color: #ffd400;
    text-align: center;
    font-size: 2rem;
  }

  p {
    margin-bottom: 0.8rem;

    color: white;
    text-align: center;

    span {
      color: #ffd400;
    }
  }
}

.zipInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    background-color: #06416a;
    width: 100%;
    height: 3.28rem;
  }

  div {
    background-color: white;
    border: 0 solid #56aff8;
    border-left-width: 1px;
    border-right-width: 1px;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 1.5rem;
      color: #06416a;
      padding: 0.7rem;
    }

    span {
      background-color: #06416a;
      font-size: 1rem;
      color: white;
      text-align: center;
      width: 100%;
      font-size: 1.2rem;
      padding: 0.7rem;
    }
  }
}

@media (max-width: 768px) {
  .infoContainer {
    h2 {
      width: 100%;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.8rem;
      margin-bottom: 0.8rem;
    }
  }

  .zipInfo {
    img {
      background-color: #06416a;
      width: 100%;
      height: 2.2rem;
    }
    div {
      h3 {
        font-size: 1rem;
        padding: 0.5rem;
      }

      span {
        width: 100%;
        font-size: 0.8rem;
        padding: 0.5rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .infoContainer {
    h2 {
      width: 100%;
      font-size: 1rem;
    }

    p {
      font-size: 0.7rem;
      margin-bottom: 0.8rem;
    }
  }

  .zipInfo {
    div {
      h3 {
        font-size: 0.8rem;
        padding: 0.5rem;
      }

      span {
        width: 100%;
        font-size: 0.7rem;
        padding: 0.5rem;
      }
    }
  }
}
