.header {
  width: 100%;
  height: 6rem;
  background: rgb(6, 19, 32);
  background: linear-gradient(
    351deg,
    rgba(6, 19, 32, 1) 0%,
    rgba(11, 34, 57, 1) 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: #ffd400;
  font-size: 4.5rem;
  font-weight: 800;

  .title {
    font-size: 2.5rem;
    color: white;

    span {
      font: 3.5rem "Orbitron", sans-serif;
      color: #56aff8;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 5rem;

    gap: 0.5rem;

    font-size: 3.5rem;

    .title {
      font-size: 2rem;

      span {
        font: 3rem "Orbitron", sans-serif;
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    height: 4rem;

    gap: 0.2rem;

    font-size: 2.5rem;

    .title {
      font-size: 1.3rem;

      span {
        font: 2rem "Orbitron", sans-serif;
      }
    }
  }
}
