.formContainer {
  padding: 6rem;
  padding-bottom: 5rem;
  background-color: #06416a;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 800;
      color: #ffd400;
    }

    .searchBar {
      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      width: 80%;

      input {
        width: 100%;
        height: 4rem;
        border: 0 none;
        border-radius: 10px;
        padding: 2rem;

        &:focus {
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }

      span {
        line-height: 0;
        font-size: 2rem;

        position: absolute;
        right: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .form {
    h1 {
      font-size: 1.5rem;
    }

    span {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 640px) {
  .formContainer {
    padding: 3rem;
  }
  .form {
    h1 {
      font-size: 1rem;
    }

    span {
      font-size: 0.55rem;
    }
  }

  .formContainer {
    .form {
      .searchBar {
        margin-top: 1rem;
        width: 100%;
        input {
          font-size: 0.8rem;
          height: 3rem;
          padding: 1rem;
        }

        span {
          font-size: 1.2rem;
          right: 1rem;
        }
      }
    }
  }
}
