.formContainer {
  padding: 6rem;
  padding-bottom: 5rem;
  background-color: #06416a;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 800;
      color: #ffd400;
    }

    .searchBar {
      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      width: 80%;

      input {
        width: 100%;
        height: 4rem;
        border: 0 none;
        border-radius: 10px;
        padding: 2rem;

        &:focus {
          box-shadow: 0 0 0 0;
          outline: 0;
        }
      }

      span {
        line-height: 0;
        font-size: 2rem;

        position: absolute;
        right: 2rem;
      }
    }
  }
}
